@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto+Slab&display=swap');

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
  font-family: 'Roboto Slab', serif;
  background: white;
}

.ant-btn-primary {
  background-color: #1677ff;
}

.menu-link .anticon {
  display: flex;
  justify-content: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text-green {
  color: #00704a;
}

/* CSS */
.button-56 {
  align-items: center;
  background-color: #00704a;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: whitesmoke;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 32px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-weight: bold;
  letter-spacing: 10px;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: '';
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: white;
  color: #00704a;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

.text-special {
  box-shadow: inset 0 0 0 0 #00704a;
  color: #00704a;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.text-special:hover {
  box-shadow: inset 200px 0 0 0 #00704a;
  color: white;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

@media (min-width: 768px) {
  body {
    overflow: hidden;
  }

  .categories::-webkit-scrollbar {
    display: none;
  }
}
.categories::-webkit-scrollbar {
  display: none;
}

.products::-webkit-scrollbar {
  display: none;
}
